
/* Game list styling*/
.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height:350px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    overflow: hidden;
    position:relative;
  }

  .game-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .game-card h3 {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
  }

  .game-card p {
    margin: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }

  .game-card a {
    margin:1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(180, 138, 216);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    position: absolute;
    bottom: 0rem;

  }

  .game-card a:hover {
    background-color: rgb(70, 0, 128);
  }
/*Game list refresh button styling*/
.game-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

.refresh-btn {
    --text-base: 277deg, 55%, 70%;
    --text-hover: 307deg, 72%, 86%;
    --shadow-start: 52deg, 100%, 72%;
    --shadow-end: 282deg, 90%, 50%;
    --shadow-inner: 277deg, 90%, 62%;
    all: unset;
    color: hsla(var(--text-base), 1);
    font: 700 1.125rem/1.2 Raleway, sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.85em;
    max-width: 100%;
    width: 12em;
    background: inherit;
    background-clip: padding-box;
    border: 5px solid hsla(var(--text-base), 1);
    border-radius: 2em;
    cursor: pointer;
    position: relative;
    transition: 0.25s ease-out;

  }
  .refresh-btn::before, .refresh-btn::after {
    content: "";
    border-radius: inherit;
    transition: inherit;
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
  .refresh-btn::before {
    inset: -0.2em;
    z-index: -1;
    background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
    filter: blur(1.2em) saturate(1.2);
    transform-origin: bottom;
    transform: scaleY(0.5);
    opacity: 0;
  }
  .refresh-btn::after {
    box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
    mix-blend-mode: overlay;
    opacity: 0;
  }
  .refresh-btn:hover, .refresh-btn:focus {
    color: hsla(var(--text-hover), 1);
    border-color: transparent;
    box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
  }
  .refresh-btn:hover::before, .refresh-btn:hover::after, .refresh-btn:focus::before, .refresh-btn:focus::after {
    transform: none;
    opacity: 1;
  }
