.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(0, 0, 0);
  }
  .container-fluid{
    width:100%;
  }

  .navbar-brand {
    margin-right: 20px;
    font-size: 3rem;
    color:aliceblue;
  }

  .navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-top: 1rem;
  }

  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin-right: 10px;
    font-size:1.5rem;

  }
  .nav-link:hover{
    color:fuchsia;
    transition: 0.25s ease-out;
  }
  .nav-item{
    margin-left:1rem;
  }

  .form-inline {
    display: flex;
    justify-content: flex-end;
  }
  .form-control {
    width: 250px;
    height:30px;
    border-radius: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
  }

  .form-inline button {
    background-color: rgb(180, 138, 216);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    padding: 0px 10px;
    cursor: pointer;
    height:30px;
  }

  .form-inline button:hover {
    background-color: rgb(70, 0, 128);
    transition: 0.25s ease-out;

  }
